.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    justify-items: center;
    background-color: #f5f5f5;
}

.pokemon-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 140px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  
    
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.pokemon-sprite {
    width: 96px;
    height: 96px;
}

.pokemon-name {
    margin-top: 0.5 rem;
    text-transform: capitalize;
}

.pokemon-type {
  color:#555;
  text-transform: capitalize;
  font-size: 0.9rem;
}