.sortButtons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.sortButtons button {
    padding: 0.5rem 1rem;
    background-color: #ef5350;
    color:white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;

}

.sortButtons button:hover {
    background-color: #d32f2f;
}

.sortButtons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}